.DS_Store
.build/
.swiftpm/
Package.resolved
build/
DerivedData/
Scratch/
Dependencies/
.dependency_magnet/
SampleWorkspace/
dependencies.yml

Tests/.build/
Tests/.dependency_magnet/
Tests/Dependencies/Package
Tests/Dependencies/Package.resolved