.DS_Store
.build/
.swiftpm/
Package.resolved
build/
DerivedData/
Scratch/


# DependencyMagnet

DependencyMagnet/Dependencies/
DependencyMagnet/.dependency_magnet/
DependencyMagnet/SampleWorkspace/
DependencyMagnet/dependencies.yml

DependencyMagnet/Tests/.build/
DependencyMagnet/Tests/.dependency_magnet/
DependencyMagnet/Tests/Dependencies/Packages/
DependencyMagnet/Tests/Dependencies/Package.resolved